[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aebdata"]
	path = aebdata
	url = https://github.com/ipea/aebdata
[submodule "nomesbr"]
	path = nomesbr
	url = https://github.com/ipea/nomesbr
[submodule "utilsIPEA"]
	path = utilsIPEA
	url = https://github.com/ipea/utilsipea
